[submodule "CH341SER"]
	path = CH341SER
	url = https://github.com/juliagoda/CH341SER.git
[submodule "tensorflow"]
	path = tensorflow
	url = git@github.com:pwolf15/tensorflow.git
[submodule "tract"]
	path = tract
	url = git@github.com:pwolf15/tract.git
